
body {
  background-color: gray;
}

h1 {
      color: black; 
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1;
      text-align: left-align-align;
    }

p {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align-align;
}

label {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align;
}

input {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align;
}

textarea {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align;
}

.topform{
  border-style: solid;
  background-color: white;
  margin: left-align;
  height: flex;
  width: flex;
}

.bottom {
    background-color: white;
    border-style: solid;
}

h2 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align;
}

 {
  color: black; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left-align;
}



/* h2, img, p, creaturesSkills, skillForm, likeCount, likeButton, deleteButton */